<launch>
    <arg name="shipname" default="Viknes830" />

    <group ns="$(arg shipname)">
        <node pkg="usv_mission_planner"
            name="mission_planner"
            type="static_mission_planner_node.py"
            respawn="false"
            output="screen">
        </node>
    </group>

</launch>